
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    function initialize_map() {
        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(46.064767, 13.229255),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);

        var Visionario = new google.maps.Marker({
            position: new google.maps.LatLng(46.064767, 13.229255),
            map: map,
            icon: 'img/marker_enlabs.png',
            title:"Cinema Visionario"
        });
    }
</script>

<a name="location"></a>
<section class="alpha_32">
	<div class="container group">

        <h3 class="column_12">Location</h3>
        <div class="column_6 map">
            <div id="map_canvas"></div>
        </div>

        <div class="column_6 legend right">
            <dl>
                <dt class="event_location"><span><strong>Event location</strong></span></dt>
                <dd  class="event_location">
                    <strong>c/o <a href="http://www.visionario.info/">Cinema Visionario</a></strong>
                    Via Fabio Asquini, 33<br />
                    33100 Udine, Italy
                </dd>

                <dt class="get_to"><span><strong>Coordinate</strong></span></dt>
				<dd>Coordinate: Lat. 46.064421, Long. 13.229461</dd>

            </dl>
        </div>

        <div class="clear"></div>

   		<div class="column_3">
		<h5>By Car</h5>
        <p>
			Udine can be reached by car easily throuh the <strong>A23 Highway</strong>. If you're coming from Trieste or Venice, your best option is
			the Udine South exit, whereas Udine North is your best pick if you're coming from Austria or Slovenia.
			Once you leave the highway, the best way to reach the venue can be seen on <a href="https://goo.gl/maps/Zl4UH">google maps</a>.
		</p>

        </div>

        <div class="column_3">
	        <h5>By Train</h5>
			<p>
				Udine's train station happens to be at a crossing point between the Venezia-Udine and Trieste-Udine railway lines.
				It's therefore easy to reach it by train. Once at the train station, there are taxi cabs you can hire,
				and you also have many public transportation options
				(IE bus lines 2, 5, 6 and 11).
			</p>
		</div>

		<div class="column_3">
			<h5>By Plane</h5>
			<p>
				You can reach Udine by air, through the <strong>Venezia</strong>,
				<strong>Treviso</strong> and <strong>Trieste</strong> airports.
				Once you get to <a href="http://www.veniceairport.it/">Venice</a> or
				<a href="http://www.trevisoairport.it">Treviso</a>, your best option to get to Udine is by train.
				From <a href="http://www.aeroporto.fvg.it/it/home/index.htm">Trieste</a>
				you can either hire a taxi or take a bus. For more informations, please refer to the airport websites.
			</p>
		</div>

		<div class="column_3">
			<h5>Once you're in town</h5>
            <p>
				The <strong>Cinema Visionario</strong> can easily be reached by bus, through lines <strong>2, 5, 6, 11</strong>.
				Buses run approximately every 15-20 minutes and you can get out at the <strong>Via Asilo Marco Volpe 43 bus stop</strong>.
				You can ask the driver to notify you once at destination,
				but you can't purchase tickets from her. Hence it's wise to get your tickets in advance (either at the train station or at newspaper kiosks)
				before you board buses.
            </p>
       </div>

        <div class="clear"></div>

	</div>

	<div class="clear"></div>

    <div class="separator"></div>
</section>
