<a name="info"></a>
<section class="alpha_14">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>

    <h3 class="center">Di cosa si tratta?</h3>

    <p><strong>Il NoSQL Day è una conferenza sui database di ultima generazione, in grado di offrire scalabilità e distribuzione dei dati.
    Dopo molti anni il modello relazionale viene messo in discussione!
    </strong>
    </p>

    <p>
    La conferenza riprende la fortunata precedente edizione, organizzata da WEBdeBS e svoltasi a Brescia nel 2011.
    Al tempo i database NoSQL erano una novità e la giornata fu occasione per molti
    di avvicinarsi a questi sistemi per la prima volta.
    </p>

    <p>Oggi vi sono diversi contesti in cui questi strumenti vengono utilizzati estensivamente.
    Il <a href="http://grusp.it">GrUSP</a> e il <a href="http://friuli.grusp.org">PHP User Group Friuli</a> hanno deciso di organizzare questo evento
    per condividere le esperienze di chi già utilizza questi database, permettendo ai partecipanti
    di cogliere in un'unica giornata nozioni che altrimenti necessiterebbero di settimane,
    se non mesi di apprendimento e sperimentazione individuale.
    </p>

    <p>
    L'evento non ha scopo di lucro ed è reso possibile grazie al tempo messo a disposizione dagli organizzatori.
    </p>

    <p>
    Citando WEBdeBS, è un evento organizzato "dalla community per la community".
    </p>
  </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
