<a name="cfp"></a>
<section class="alpha_24">
  <div class="container group">
  <div class="column_6 centered">
    <h3 class="center">Call for Papers</h3>
    <p>The <a href="{{page.cfp_url}}">call for papers is open</a> to everyone and will end on <strong>Friday 10th October 2014</strong>.<br/>

    Hurry up and <a href="{{page.cfp_url}}">send your proposals</a>  (talks must be in english).
    Speakers' package: ticket for the conference, one night hotel accommodation (before the event), dinner on the evening before the event, coffee breaks and lunch on the day of the event. If you, or your company, want to cover accommodation expenses we'll give you a <a href="http://2014.nosqlday.it/#sponsor">Bronze sponsorship</a> package.
    </p>
  </div>

    <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
