<section class="sponsors">
  <a name="sponsor"></a>
  <div class="container group">

<div class="container group">

{% if page.cfs %}

    <div class="column_6 centered">
      <h3 class="center">Sponsor this event</h3>
      <p>A great event is made with great sponsors. Why would you miss the chance to help this conference?<br>
      <a href="mailto:info@grusp.org">Contact us</a> to know how to support the event!</p>
    </div>
    <div class="clear"></div>

    <div class="column_4">
      <h4 class="gold">Gold</h4>
      <span class="euro btn">€ 1000</span>
      <ul class="benefit">
        <li>Your logo on conference website</li>
        <li>Mention in pre-event communications</li>
        <li>Your own flyer and/or gadget in folder</li>
        <li>Your logo on conference programme</li>
        <li>Your own rollup in the room</li>
        <li>3 free tickets</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="silver">Silver</h4>
      <span class="euro btn">€ 500</span>
      <ul class="benefit">
        <li>Your logo on conference website</li>
        <li>Mention in pre-event communications</li>
        <li>Your own flyer and/or gadget in folder</li>
        <li>Your logo on conference programme</li>
        <li>2 free tickets</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="bronze">Bronze</h4>
      <span class="euro btn">€ 300</span>
      <ul class="benefit">
        <li>Your logo on conference website</li>
        <li>Your own flyer and/or gadget in folder</li>
        <li>1 free ticket</li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>

{% endif %}

  <h3>Our Sponsors</h3>

  <div class="gold_sponsors">
    <h4 class="gold">Gold</h4>

    <a class="banner" href="http://www.microsoft.com/it/" title="Microsoft">
      <img src="/img/sponsors/sponsor_microsoft.png" alt="Sponsor Microsoft" />
    </a>

    <div class="clear"></div>
  </div>

  <div class="silver_sponsors">
    <h4 class="silver">Silver</h4>

    <a class="banner" href="http://www.seeweb.it/" title="Seeweb">
      <img src="/img/sponsors/sponsor_seeweb.png" alt="sponsor seeweb" />
    </a>

    <div class="clear"></div>
  </div>

  <div class="bronze_sponsors">
    <h4 class="bronze">Bronze</h4>

    <a class="banner" href="http://www.phpbestpractices.it" title="PHP best practices">
      <img src="/img/sponsors/sponsor_phpbestpractices.png" alt="sponsor PHP best practices" width="300" height="120" />
    </a>

    <a class="banner" href="http://www.jsbestpractices.it" title="PHP best practices">
      <img src="/img/sponsors/sponsor_jsbestpractices.png" alt="sponsor Js best practices" width="300" height="120" />
    </a>

    <a class="banner" href="http://www.phpday.it" title="phpday">
      <img src="/img/sponsors/sponsor_phpday.png" alt="sponsor phpday" />
    </a>

    <a class="banner" href="http://www.ideato.it" title="Ideato">
      <img src="/img/sponsors/sponsor_ideato.jpg" alt="sponsor ideato" />
    </a>

    <!--a class="banner" href="http://qrurl.it/r/1in" title="servergrove">
      <img src="/img/sponsor_servergrove.jpg" alt="sponsor Servergrove" />
    </a-->

    <a class="banner" href="http://www.jsday.it" title="jsday">
      <img src="/img/sponsors/sponsor_jsday.png" alt="sponsor jsday" />
    </a>

    <a class="banner" href="http://www.biodec.com" title="Biodec">
      <img src="/img/sponsors/sponsor_biodec.png" alt="Sponsor Biodec" />
    </a>

  <div class="clear"></div>
  </div>

  <h3>Media Partner</h3>
  <div class="bronze_sponsors">
    <a class="banner" href="http://www.codemotionworld.com/" title="Codemotion">
      <img src="/img/media/media_codemotion.jpg" alt="Media Partner Codemotion" />
    </a>

    <a class="banner" href="http://www.ditedi.it/" title="DITEDI">
      <img src="/img/media/media_ditedi.png" alt="Media Partner DITEDI" />
    </a>

    <a class="banner" href="http://www.talentgarden.it/" title="Talent Garden">
      <img src="/img/media/media_tag.png" alt="Media Partner TAG" />
    </a>

    <div class="clear"></div>
  </div>

  </div>
  <div class="separator"></div>
</section>
