<a name="cfp"></a>
<section class="alpha_24">
  <div class="container group">
  <div class="column_6 centered">
    <h3 class="center">Call for Papers</h3>
    <p>The <a href="{{page.cfp_url}}">call for papers is open</a> to everyone and will end on <strong>Friday 10th October 2014</strong>.<br/>

    Hurry up and <a href="{{page.cfp_url}}">send your proposals</a>  (talks must be in english). We'll pay hotel accomodation for the night before the event to selected speakers.</p>
  </div>

    <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
