<a name="info"></a>
<section class="alpha_24">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">What's this about?</h3>

    <p>
      <strong>NoSQL Day is a one day conference about all last generation databases. After so many years relational databases are not the only solution anymore!
      </strong>
    </p>

    <p>
      This conference started in 2011, in italian, organized by WEBdeBS in Brescia as a way to help developers to get in touch for the first time with new interesting solutions. In 2013, in italian, organized by GrUSP in Udine as a continuation to see how things were evolving.
    </p>

    <p>
      Starting from 2014 edition <a href="http://grusp.it">GrUSP</a> and <a href="http://friuli.grusp.org">PHP User Group Friuli</a> decided to go international. This is the answer to lots of requests from foreign speakers and foreign attendees willing to be part of this event. A single day to learn a lot of cool new stuff and do some great networking.
    </p>

    <p>
      GrUSP is a no profit associaton. This event is made possible thanks to our sponsors and to the work offered by the organizers for free.
    </p>

    <p>
     Quoting WEBdeBS, this is an event "from the community for the community".
    </p>
  </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
